JWT_SECRET=
JWT_EXPIRES_IN=2d
ALLOW_INSECURE_AUTH_COOKIES=false
FRONTEND_URL=https://mccubneuifbu23d.abyzum.com
NEXT_PUBLIC_DEFAULT_LANGUAGE=es
BASE_DIR=/var/lib/minipanelabyzum
COMPOSE_PROJECT=mcabyzum
BACKEND_PORT=8091
FRONTEND_PORT=3001
BACKEND_PROXY_URL=http://backend:8091
NEXT_PUBLIC_BACKEND_URL=/api/backend
NEXT_PUBLIC_MC_SERVER_HOST=65.75.202.124
NODE_ENV=production
